.App {
  text-align: center;
}

.ExchangeLogo{
  width: 4%;
  height: 1%;
  /* margin-top: %; */
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.CurrencyConvertor{
  border: 1px solid #4CAF50;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border-radius: 2%;
  padding-bottom: 2%;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
b{
  font-size: 20px;
}
select{
  padding: 2% 3%;
}
option {
  font-size: 1vw;
}